<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Bebama"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Bebamanalytics</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h2>Bebamanalytics</h2>
    </div>

    <div class="container-fluid">
        <div th:each="webshop,iterStat : ${webshops}">
            <a th:href="'http://localhost:60000/webshop?apiKey='+${webshop.apikey}"><p th:text="${webshop.name}"></p></a>
        </div>
        <a href="http://localhost:60000/register"><input type="button" value="register" /></a>
    </div>
    <script>var apiKey="C1165E012F5638B9199B5A31E17B55C01CC55A6F670FADE62CC88D4E1D1C0C15"</script>

    <script src="http://localhost:60000/js/locate_visitor.js"></script>

    <script src="http://localhost:60000/js/time_counter.js"></script>
</body>
</html>